// Footer
.footer {
    
    // Positioning
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    // auto is used to make the footer responsive
    // use line-height below to set the footer height instead
    height: auto;

    // Text
    text-align: center;
    line-height: 60px; // height of footer
    

}

.footer-dark {
    color: rgba(255, 255, 255, 0.5);
}

// Version
#version {
    margin-top: -2.3rem;
}
