<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <!-- Branding -->
    <a class="navbar-brand" routerLink="/home">Tsumori</a>

    <!-- Mobile Navigation Toggle -->
    <button class="navbar-toggler" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle Navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Content -->
    <div [ngbCollapse]="!isNavbarCollapsed" class="collapse navbar-collapse" id="navbarContent">
        <!-- Navbar Left -->
        <ul class="navbar-nav mr-auto">
            <li routerLinkActive="active" class="nav-item">
                <a routerLink="/home" class="nav-link">Home</a>
            </li>
            <li *ngIf="auth.isLoggedIn | async as isLoggedIn" routerLinkActive="active" class="nav-item">
                <a routerLink="/builder" class="nav-link">Builder</a>
            </li>
        </ul>

        <!-- Navbar Right -->
        <ul *ngIf="auth.isLoggedIn | async as isLoggedIn; else loggedOut" class="navbar-nav ml-auto">
            <!-- Logout -->
            <li class="nav-item">
                <a (click)="logout()" class="nav-link">Logout</a>
            </li>
        </ul>
        <ng-template #loggedOut>
            <ul class="navbar-nav ml-auto">
                <!-- Login -->
                <li routerLinkActive="active" class="nav-item">
                    <a routerLink="/login" class="nav-link">Login</a>
                </li>
                <!-- Register -->
                <li routerLinkActive="active" class="nav-item">
                    <a routerLink="/register" class="nav-link">Register</a>
                </li>
            </ul>
        </ng-template>
    </div>
</nav>
