/***********/
/* Tsumori */
/*  Theme  */
/***********/
@import "../node_modules/bootstrap/scss/bootstrap";


// Base components
html, body {
    height: 100%;
}

body {
    background-color: #2d2d2d;
    color: #fff;
}

// Container
.container {
    margin-top: 1rem;
    padding-bottom: 100px;
}

// Card
.card {
    background-color: #1f1f1f;
}

.card-header {
    border-color: #3d3d3d;
}

// Button
.btn-outline-dark:hover {
    background-color: #1f1f1f;
    border-color: #fff;
    color: #fff;
}

// Misc
.bg-dark {
    background-color: #1f1f1f !important;
}