<div class="container page">
    <div id="branding">
        <img id="umaru" src="assets/images/umaru.png">
        <div id="text">
            <div>
                Tsumori
            </div>
            <div id="sub-text">
                つもり
            </div>
        </div>
    </div>
    <div class="card">
        <h5 class="card-header">Welcome to Tsumori</h5>
        <div class="card-body">
            <h5 class="card-title">A fully featured schedule builder.</h5>
            <p class="card-text">つもり (tsumori) expresses a plan or intention.</p>
            <button href="#" class="btn btn-primary float-right">Login</button>
        </div>
    </div>
</div>