#branding {
    //text-align: center;
    display: flex;
    justify-content: center;
}

#branding > #umaru {
    width: 35%;
    margin: auto;
    margin-right: 1rem;
    
}

#branding > #text {
    font-size: 5rem;
    margin: auto;
    margin-left: 1rem;
    text-align: center;
}

@media (max-width: 768px) {
    #branding > #text {
        font-size: 3rem;
    }
}

#branding > #text > #sub-text {
    font-size: 1rem;
    margin-top: -1rem;
}

.card-header,
.card-title,
.card-text {
    text-align: center;
}
